body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(77, 2, 2, 1) 45%, rgba(0, 0, 0, 1) 100%);
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

.titulo_bordeado{
    color: #ffffff;
    width: 500px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
    color: rgb(255, 255, 255)
}


.slider_principal {
    width: 70% !important;
    float: left;
}

.caja_slider_principal {
    width: 25%;
    float: right;
    color: rgb(250, 248, 248);
}

.container{
    margin: auto;
    background-color: rgb(90, 1, 1);
    border: 1px solid #cccccc;
    width: 800px;
    padding: 30px;
}

ul, li{
    margin: 0;
    padding: 0;
    background-color: rgb(90, 1, 1);
    list-style: none;
}

ul.slider {
    position: relative;
    background-color: rgb(90, 1, 1);
    width: 800px;
    height: 300px; 
    overflow: hidden;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(90, 1, 1);
    transition: opacity .5s;
    z-index: 0;
}

ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
    z-index: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

.proyectos_info {
    padding: 20px;
    text-align: center;
}

.proyecto {
    background-color: rgb(90, 1, 1);
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 15px;
    display: inline-block;
    height: fit-content;
    width: 25%;
}


.proyecto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#pie {
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .proyecto {
        width: 100%;
    }
}

nav a {
    color:white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

button {
    background-color:yellow; 
    color:#090301;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.total-caja {
    background-color: #000000;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #330000;
    color: white;
    width: 85%;
    max-width: 350px; 
    padding: 15px; 
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 20px yellow;
    
    max-height: 90vh; 
    overflow-y: auto; 
}

.modal-content h2 {
    font-size: 1.2rem;
    margin: 5px 0;
}

.modal-img {
    width: 100%;
    max-height: 150px; 
    object-fit: cover; 
    border-radius: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

.btn-cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    color: white;
    border: 1px solid white;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
}
.btn-cerrar:hover { background: red; }


.botones-modal {
    display: flex;
    justify-content: space-around; 
    margin-top: 10px;
}

.botones-modal button {
    font-size: 14px; 
    padding: 8px; 
    width: 45%; 
}